Source: numix-icon-theme-square
Section: gnome
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.3.0
Homepage: https://github.com/numixproject/numix-icon-theme-square
Vcs-Git: https://github.com/utopia-repository/numix-icon-theme-square
Vcs-Browser: https://github.com/utopia-repository/numix-icon-theme-square

Package: numix-icon-theme-square
Architecture: all
Depends: ${misc:Depends}, numix-icon-theme
Description: Square icon theme from the Numix project
 Numix Square is an icon theme using simple symbols and vivid background for a
 fresh, swishy, and modern look.
